<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page" routerLink="dashboard">Dashboard</li>
    </ol>
</nav>

<h5>Dashboard</h5>
<div class="row">
    <div class="col-3 pb-3 text-primary-emphasis bg-primary-subtle text-center">
        <!-- <div class="row"> -->
        <div class="col-12 text-center pt-2 pb-2 fw-bold bg-dark text-white rounded">{{Designation}}</div>
        <!-- </div> -->
        <div class="col-12 text-center mt-2">
            <img src="assets/images/profile.jpg" width="120px" alt="profile" class="rounded-circle">
        </div>
        <div class="col-12 text-center mt-2 fw-bold pt-2 pb-2">
            {{Username}}
        </div>
        <div class="col-12 text-center mt-2 fw-bold pt-2 pb-2">
            TEAM SUMMARY
        </div>
        <div class="col-12 mb-3">
            <ul class="list-group">
                <li class="list-group-item bg-white d-flex justify-content-between align-items-center">
                    NO. OF TEAM MEMBERS
                    <span class="badge bg-secondary badge-pill">{{NoOfTeamMembers}}</span>
                </li>
                <li class="list-group-item bg-white d-flex justify-content-between align-items-center">
                    TOTAL COST OF ALL PROJECTS
                    <span class="badge bg-secondary badge-pill">$ {{TotalCostOfAllProjects}}k</span>
                </li>
                <li class="list-group-item bg-white d-flex justify-content-between align-items-center">
                    PENDING TASKS
                    <span class="badge bg-secondary badge-pill">{{PendingTasks}}</span>
                </li>
                <li class="list-group-item bg-white d-flex justify-content-between align-items-center">
                    UPCOMING PROJECTS
                    <span class="badge bg-secondary badge-pill">{{UpComingProjects}}</span>
                </li>
            </ul>
        </div>

        <div class="col-12 text-center mt-2 fw-bold pt-2 pb-2">
            CLIENTS
        </div>
        <div class="col-12 mb-3">
            <ul class="list-group">
                <li *ngFor="let clients of Clients"
                    class="list-group-item bg-white d-flex justify-content-between align-items-center">
                    {{clients}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6 bg-primary-subtle">
        <div class="row">
            <div class="col-12 pt-0 pb-2 text-white text-primary-emphasis bg-primary-subtle">

                <div class="row mt-2">
                    <div class="col-6 text-start">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle bg-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Project A
                            </a>

                            <ul class="dropdown-menu">
                                <li><a *ngFor="let projects of Projects" class="dropdown-item" href="#"
                                        onClick="return false" (click)="onProjectChanges($event)">{{projects}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 text-end">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle bg-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                2025
                            </a>

                            <ul class="dropdown-menu">
                                <li><a *ngFor="let years of Years" class="dropdown-item" href="#">{{years}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mx-auto text-white bg-secondary px-3 py-2">
            PROJECT BRIEFING
        </div>
        <div class="col-12">
            <table class="table table-borderless bg-white">
                <tbody class="table-group-divider">
                    <tr>
                        <td>Project Cost</td>
                        <td>${{ProjectCost}}</td>
                    </tr>
                    <tr>
                        <td>Current Expenditure</td>
                        <td>${{CurrentExpenditure}}</td>
                    </tr>
                    <tr>
                        <td>Available Funds</td>
                        <td>${{AvailableFunds}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="col-12 mx-auto text-white bg-secondary px-3 py-2">
            TEAM MEMBERS SUMMARY
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Region</th>
                    <th scope="col">Team Members Count</th>
                    <th scope="col">Temporarily Unavailable Members</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let teamMembersSummary of TeamMembersSummary">
                    <th scope="row">{{teamMembersSummary.Region}}</th>
                    <td>{{teamMembersSummary.TeamMembersCount}}</td>
                    <td>{{teamMembersSummary.TemporarilyUnavailableMembers}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-3 bg-primary-subtle">
        <div class="row">
            <div class="col-12 my-2 text-white bg-dark px-3 py-2">
                TEAM MEMBERS
            </div>
            <div class="col-lg-12">
                <div class="accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item" *ngFor="let teamMember of TeamMembers; let i = index">
                        <h2 class="accordion-header">
                            <button class="accordion-button bg-secondary text-white" type="button"
                                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+i"
                                [attr.aria-expanded]="(i === 0 ? true : false)" [attr.aria-controls]="'collapse'+i">
                                {{teamMember.Region}}
                            </button>
                        </h2>
                        <!-- [ngClass]="{ 'a': cond1, 'b': cond2 }"	✅ Yes	Multiple classes based on conditions -->
                        <!-- [ngClass]="{ 'collapse show': i === 0, 'collapse': i !== 0 }" -->

                        <!-- ternary operator -->
                        <!-- [ngClass]="condition ? 'a' : 'b'"	✅ Yes	You want either class a or b -->
                        <!-- [ngClass]="i === 0 ? 'collapse show' : 'collapse'" -->

                        <div [attr.id]="'collapse'+i" class="accordion-collapse collapse"
                            [ngClass]="(i === 0 ? 'show': '')" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let member of teamMember.Members">
                                            <th scope="row">{{member.ID}}</th>
                                            <td [style.color]="(member.Status === 'Busy'? 'red':'black')">{{member.Name}}
                                            </td>
                                            <td>{{member.Status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>