<button type="button" class="btn btn-primary my-5" data-bs-toggle="modal" data-bs-target="#exampleModal"
  data-bs-whatever="">Create Project</button>

<h1>Projects</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Project ID</th>
      <th scope="col">Project Name</th>
      <th scope="col">Date of start</th>
      <th scope="col">Team size</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <th scope="row">{{project.projectID}}</th>
      <td>{{project.projectName}}</td>
      <td>{{project.dateOfStart}}</td>
      <!-- <td>{{project.dateOfStart | date}}</td> -->
      <td>{{project.teamSize}}</td>
    </tr>
  </tbody>
</table>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Project Creation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Project ID:</label>
            <input type="number" class="form-control" id="recipient-name" [(ngModel)]="newProject.projectID"
              name="projectID">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Project Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="newProject.projectName"
              name="projectName">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Date:</label>
            <input type="date" class="form-control" id="recipient-name" [(ngModel)]="newProject.dateOfStart"
              name="dateOfStart">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Team Size:</label>
            <input type="number" class="form-control" id="recipient-name" [(ngModel)]="newProject.teamSize"
              name="teamSize">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSaveClick()">Save</button>
      </div>
    </div>
  </div>
</div>