<button type="button" class="btn btn-primary my-5" data-bs-toggle="modal" data-bs-target="#createModal"
  data-bs-whatever="">Create Project</button>

<h1>Projects</h1>
<!-- search -->
<!-- <form class="row my-3 mx-3" role="search">
  <div class="dropdown my-3 col-6">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Search By
    </button>
    <ul class="dropdown-menu" name="searchBy" [(ngModel)]="searchBy">
      <li><a class="dropdown-item" value="ProjectID">Project ID</a></li>
      <li><a class="dropdown-item" value="ProjectName">Project name</a></li>
      <li><a class="dropdown-item" value="DateOfStart">Date of Start</a></li>
      <li><a class="dropdown-item" value="TeamSize">Team size</a></li>
    </ul>
  </div>
  <div class="row">
    <input class="me-2 col-3" type="search" placeholder="Search" aria-label="Search" name="searchText"
      [(ngModel)]="searchText" />
    <button class="btn btn-outline-success col-3" type="submit" (click)="onSearchCLick()">Search</button>
  </div>
</form> -->

<form class="row my-3 mx-3" role="search">
  <div class="my-3 col-6">
    <label for="searchBy" class="form-label">Search By</label>
    <select class="form-select" id="searchBy" name="searchBy" [(ngModel)]="searchBy">
      <option value="ProjectID">Project ID</option>
      <option value="ProjectName">Project name</option>
      <option value="DateOfStart">Date of Start</option>
      <option value="TeamSize">Team size</option>
    </select>
  </div>

  <div class="row">
    <input class="me-2 col-3" type="search" placeholder="Search" aria-label="Search" name="searchText"
      [(ngModel)]="searchText" />
    <button class="btn btn-outline-success col-3" type="submit" (click)="onSearchCLick()">Search</button>
  </div>
</form>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Project ID</th>
      <th scope="col">Project Name</th>
      <th scope="col">Date of start</th>
      <th scope="col">Team size</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects; let i = index;">
      <th scope="row">{{project.projectID}}</th>
      <td>{{project.projectName}}</td>
      <td>{{project.dateOfStart}}</td>
      <!-- <td>{{project.dateOfStart | date}}</td> -->
      <td>{{project.teamSize}}</td>
      <td>
        <button type="button" class="btn btn-primary mx-2" (click)="onEditClick($event, i)" data-bs-toggle="modal"
          data-bs-target="#editModal" data-bs-whatever="">Edit Project</button>
        <!-- Angular only automatically populates the event object in the variable named $event. -->
      </td>
      <td>
        <button type="button" class="btn btn-primary mx-2" (click)="onDeleteClick($event, i)" data-bs-toggle="modal"
          data-bs-target="#deleteModal" data-bs-whatever="">Delete Project</button>
        <!-- Angular only automatically populates the event object in the variable named $event. -->
      </td>
    </tr>
  </tbody>
</table>



<!-- create -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel">Project Creation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Project ID:</label>
            <input type="number" class="form-control" id="recipient-name" [(ngModel)]="newProject.projectID"
              name="projectID">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Project Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="newProject.projectName"
              name="projectName">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Date:</label>
            <input type="date" class="form-control" id="recipient-name" [(ngModel)]="newProject.dateOfStart"
              name="dateOfStart">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Team Size:</label>
            <input type="number" class="form-control" id="recipient-name" [(ngModel)]="newProject.teamSize"
              name="teamSize">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSaveClick()" data-bs-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- edit -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Project Updation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Project ID:</label>
            <input type="number" class="form-control" id="recipient-name" [(ngModel)]="editProject.projectID"
              name="projectID" disabled="disabled">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Project Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="editProject.projectName"
              name="projectName">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Date:</label>
            <input type="date" class="form-control" id="recipient-name" [(ngModel)]="editProject.dateOfStart"
              name="dateOfStart">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Team Size:</label>
            <input type="number" class="form-control" id="recipient-name" [(ngModel)]="editProject.teamSize"
              name="teamSize">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onUpdateClick()" data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>


<!-- delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Project Deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Project ID:</label>
            <input type="number" class="form-control" id="recipient-name" [(ngModel)]="deleteProject.projectID"
              name="projectID" disabled="disabled">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Project Name:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="deleteProject.projectName"
              name="projectName" disabled="disabled">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onDeleteConfrimClick()"
          data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>